.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 10%;
 }
 
 .cards {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  transition: 0.2s ease-in-out;
  border: 5px solid;
  border-image: linear-gradient(-45deg, #222, #111, #000, #222) 1;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cards h3 {
  margin-top: 0;
  color: white;
}

.cards p {
  color: #b0b0b0;
}

.image-preview img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.image-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.visit-button {
  background-color: #222;
  color: white;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  font-family: 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
}