.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 31.5px; /*= 18%*/
  height: 175px;
  width: 175px;
  margin-bottom: 10px;
  margin: 0 auto;
  object-fit: cover;
}
.image-container #hot_game::before {
  content: "HOT";
  position: absolute;
  display: inline-block;
  height: 15px;
  padding: 2px 15px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background: linear-gradient(to top right, #ff5733, #ff9033);
  border-radius: 5px;
  text-transform: uppercase;
  top: 0;
  right: 15px;
  z-index: 9996;
}

.image-container #new_game::before {
  content: "NEW!";
  position: absolute;
  display: inline-block;
  height: 15px;
  padding: 2px 15px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background: linear-gradient(to top right, #337dff, #33a8ff);
  border-radius: 5px;
  text-transform: uppercase;
  top: 0;
  right: 15px;
  z-index: 9996;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.game-card:hover .image-container img {
  transform: scale(1.2);
}