#tos-overlay p {
  text-align: justify;
  font-size: 12px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#tos-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: Arial, sans-serif;
  color: white;
}

#tos-box {
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: #222;
  padding: 20px;
  width: 28%;
  height: 65%;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #fff;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#tos-box::-webkit-scrollbar {
  display: none;
}

.divider-title {
  border-bottom: #333 solid 2px;
  width: 400px;
  margin-left: calc(50% - 200px);
}

@media only screen and (max-device-width: 1400px) {
  #tos-overlay p {
    font-size: 9px;
  }

  #tos-title {
    font-size: 10px;
    font-weight: 900;
  }

  .divider-title {
    font-size: 10px;
  }

  .bn5 {
    /*display: flex:;*/
    padding: 5px 15px;
    font-size: 7px !important;
    border-radius: 6px !important;
  }

  .bn5::before {
    border-radius: 6px !important;
  }

  .bn5:after {
    border-radius: 6px !important;
  }
}

@media only screen and (max-device-width: 1000px) {
  #tos-overlay p {
    font-size: 7px;
  }

  .divider-title {
    font-size: 8px;
    border: none;
  }

  .bn5 {
    /*display: flex:;*/
    padding: 5px 15px !important;
    font-size: 6px !important;
    border-radius: 6px !important;
  }

  .bn5::before {
    border-radius: 6px !important;
  }

  .bn5:after {
    border-radius: 6px !important;
  }
}

.bn5 {
  padding: 7px 31px;
  font-size: 12px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #fff;
}

.bn5:active:after {
  background: black;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
