/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  background-color: #171717;
  color: white;
  user-select: none;
}

button {
  border: none;
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
}

/* GAME LOADER */

iframe {
  border: 0;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: absolute;
  background-color: #171717;
}

.game-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  z-index: 1;
}

.image-content {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 14px;
  object-fit: cover;
}

.image-content #game-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.arrow-button {
  display: flex;
  color: #fff;
  background-color: #00a8fc;
  padding: 10px 16px;
  border-radius: 12px;
  transition: all 0.2s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #009fef;
  transform: scale(1.05);
}
