.adblocker {
  text-align: center;
  padding-left: 100% 0 0;
  margin: 0;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-color: #222;
  height: 180px;
  width: 640px;
  border-radius: 10px;
  margin: 4em 0 4em;
  border: 1px solid #000;
}

.adblocker .adblock-text {
  width: 350px;
  margin: 20px;
}

.adblocker img {
  margin: 20px;
}

.flash-opener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem;
  font-family: 'Roboto', 'Lato', Arial, Helvetica, sans-serif;
}

.button-container {
  display: flex;
  margin-top: 6px;
}

#file-name {
  margin-top: 10px;
  display: none;
}

.buttons:hover {
  background-color: #bbb;
}

.buttons {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none;
  font-family: 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 2px 0;
}

.buttons:active {
  background-color: #111;
  box-shadow: 0px 0px 3px #4287f5;
  color: white;
}
#fullscreen-flash {
  color: white;
  font-size: 15px;
  z-index: 9999;
  max-height: 50px;
  overflow: hidden;
  border: none;
  background-color: #111;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
}

#fullscreen-flash:hover {
  background-color: #222;
  color: #4287f5;
}