.dark {
    background-color: #222;
    color: white;
    display: inline-block;
    padding: 8px 10px;
    text-align: middle;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;
    font-size: 12px;
}

.dark i {
  font-size: 14px;
  margin-left: 3px;
}

.dark:hover {
    background-color: #111;
    box-shadow: 0px 0px 3px #4287f5;
}

.container img, svg {
    vertical-align: middle;
    height: 30px;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #171717;
    overflow: hidden;
    color: black;
}

#path {
    font-weight: bolder;
}

.main {
    font-size: 16px;
    font-weight: bold;
}


.sfn {
    display: inline-block;
    padding: 7px 13px;
    font-size: 11px;
    background-color: #33b056;
    color: #333;
    text-decoration: none;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.sfn:hover {
    background-color: #31a250;
}

#sfn {
    display: none;
    font-size: 11px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container2 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.buttons {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
    font-family: 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .buttons:hover {
    background-color: #bbb;
  }

  .group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }
  
  .input {
    width: 100%;
    padding: 15px 20px;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .input::placeholder {
    color: #788597;
    opacity: 1;
  }
  
  .input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
  }

  #passwordInput {
    padding: 2px;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #171717;
    border: none;
  }

  #passwordInput::placeholder {
    color: white;
    opacity: 1;
  }

  a {
    text-decoration: none;
  }

  /* For tutorial */
  .video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    max-width: 800px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
    color: #e3363c;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5px 5px 0;
}